* {
    font-family: 'Wix Madefor Display', sans-serif;
}

html, body {
    width:100%;
    height:100%;
}


.container-fluid{
    background-color: lightblue;
    text-align: center;
}

#searchBox {
    display: flex;
    background-color: lightcoral;
    flex-direction: column;
    align-items:center;
}

#cityTemp p{
    background-color: lightgreen;
    border-radius: 10%;
}

.nextFive {
    background-color: lightpink;
}